/*paleta de cores*/

.color-primary-0 {
    background-color: #42368c; 
}
.color-secondary-1-0 {
    background-color: #29258c; 
}

.color-secondary-2-0 {
    background-color: #303841; 
}

.color-secondary-3 {
    background-color: #f2f2f2; 
}

.color-complement-0 {
    background-color: #000000; 
}

/*****************/

/*tags gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}

.clear{
    clear: both;
}

.espacamento{
    padding: 85px 2%;
}

/*************/

header{
    padding: 20px 2%;
    position: fixed;
    top: 0;
    z-index: 999;
    max-width: 1400px;
    width: 100%;
}


header .logo{
    float: left;
    margin-left: 20px;
}

div.logo a{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: "open sans";
    text-transform: uppercase;
    font-weight: lighter;
}

section.header-atalho{
    display: none;
    position: absolute;
    left: 0;
    top: 74px;
    width: 100%;
    padding: 30px 2%;
    background-color: white;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 40%);
}

.projeto-atalho{
    float: left;
    width: calc(33.3% - 10px);
}

div.atalho-container{
    max-width: 350px;
    margin: 0 auto;
}

div.atalho-container h1.projeto-atalho-h1{
    color: black;
    font-size: 20px;
    padding: 0 0px 5px 0;
    border-bottom: 1px solid black;
}

div.atalho-container a.projeto-atalho-a{
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 17px;
    padding: 10px 0 10px 6px;
    font-weight: 400;
}

.fa-circle-arrow-right{
    color: #833fc1;
    font-size: 12px;
    display: none;
}

.projeto-atalho-a:hover{
    background-color: rgb(171 217 90);
    box-shadow: 3px 3px 18px rgb(0 0 0 / 53%);
}

.projeto-atalho-a:hover > i{
    display: inline;
}

div.landing-page{
    margin: 0 15px;
}


/*menu-DESKTOP*/
header nav.menuDesktop{
    float: right;
}

header nav.menuDesktop ul{
    list-style-type: none;
    margin-top: 3px;
}

nav.menuDesktop ul li{
    float: left;
    margin: 0 25px;
}

nav.menuDesktop a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

span#cima{
    display: none;
}

span.seta-projetos{
    font-size: 14px;
    padding: 3px 3px;
    cursor: pointer;
    color: white;
}
/***************/


/*menu-MOBILE*/
nav.menuMobile{
    width: 270px;
    position: absolute;
    top: 0;
    right: 0;
}

#txtHam{
    display: none;
    float: right;
    margin-top: 19px;
    margin-right: 21px;
    background-color: #000000;
    color: white;
    border: none;
    width: 35px;
    font-size: 26px;
    cursor: pointer;
}

nav.menuMobile img{
    display: none;
    float: right;
    margin-top: 23px;
    margin-right: 23px;
    width: 30px;
    cursor: pointer;
}

nav.menuMobile ul.menuMobileUl{
    display: none;
    width: 100%;
    min-height: 541px;
    max-height: 800px;
    height: 100%;
    margin-top: 19px;
    float: right;
    list-style-type: none;
    background-color: #f2f2f2;
}

nav.menuMobile ul li{
    width: 100%;
    cursor: pointer;
}

nav.menuMobile ul li a{
    display: block;
    padding: 20px ;
    text-decoration: none;
    font-size: 23px;
    font-family: cursive;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

nav.menuMobile a:hover{
    background-color: rgb(206, 205, 205);
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.29);
}
/*****************/


/*RESPONSIVIDADE*/
@media screen and (min-width:660px){
    #menuMobile{
        display: none;
    }

    #menuDesktop{
        display: block;
    }
}

@media screen and (max-width:659px){
    header{
        padding: 20px 2%;
    }
      
    header .logo{
        margin: 0;
        width: 50%;

    }
      
    header nav.menuDesktop{
        display: none;
    }

    nav.menuMobile img{
        display: block;
    }
}
