*{
    color: rgb(242, 242, 242);
}

body{
    height: 100%;
}

main{
    padding-top: 50px;
}

section.apresentacao{
    background-image: url('../imagens/img-fundo-port.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}

div.container-apresentacao{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

section .apresentacao-autor{
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
}

.apresentacao-autor h1{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.apresentacao-autor h2{
    font-size: 35px;
    font-weight: 200;
    font-style: italic;
    color: #FFEB18;
    text-align: center;
}

section.projetos{
    padding: 60px 2%;
}

.titulo{
    text-align: center;
    font-size: 45px;
    max-width: 780px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
}

div.tipos-projetos{
    width: 100%;
    padding: 20px 2%;
    margin: 20px 0;
}

.tipos-projetos button{
    float: left;
    width: calc(33.3% - 20px);
    text-align: center;
    padding: 15px 2%;
    color: rgb(242, 242, 242);
    margin: 0 10px;
    background-color: #6f6a8f;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 4px 5px 16px 0px #0000008a;
}

.tipos-projetos button:first-child{
    background-color: #2e2085;
}

div.container-projetos{
    width: 100%;
    margin-top: 60px;
}

.projeto0{
    background-color: rgb(14, 14, 14);
    width: calc(33.3% - 60px);
    float: left;
    margin: 0 30px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding-bottom: 12px;
    border-radius: 3px;
}

.projeto0 .container-img{
    width: 100%;
    padding: 5px;
}

.container-img img{
    width: 100%;
}

.transicao{
    padding: 5px 2%;
    font-size: 25px;
}

.projeto0 span{
    font-size: 25px;
    color: #0e0e0e;
    transition: color 0.3s;
}

p.transicao:hover > span{
    color: #d9ff00;
}

section#sobre{
    background-color: rgb(235, 235, 235);
}

section#sobre h1, section#sobre h2, section#sobre h3, section#sobre p{
    color: black;
}

section#sobre h1{
    border-bottom: 1px solid black;
}

div.sessao-autor{
    max-width: 900px;
    width: 100%;
    margin: 60px auto 0 auto;
}

.sessao-autor .img-autor{
    background-image: url(../imagens/imgpadrao.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 370px;
    width: 35%;
    height: 370px;
    float: left;
}

.sessao-autor .sobre-autor{
    margin-left: 40px;
    width: calc(65% - 40px);
    float: left;
}

.sobre-autor h2{
    font-size: 45px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.sobre-autor h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.sobre-autor p{
    font-size: 22px;
}

.titulo h1{
    text-align: center;
    font-size: 55px;
    max-width: 780px;
    margin: 0 auto;
}

.titulo h2{
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    font-style: italic;
}

.redes-sociais{
    float: left;
    width: calc(33.3% - 30px);
    margin: 100px 15px 20px 15px;
    padding: 3px;
    text-align: center;
}

.redes-sociais:nth-of-type(5){
    float: none;
    margin: 220px auto 0 auto;
}

.redes-sociais a{
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    transition: top 0.4s;
    position: relative;
    top: 0;
    left: 0;
}

.redes:hover{
    top: 8px;
}

.redes-sociais a span{
    font-size: 28px;
}

.redes-sociais a i{
    font-size: 30px;
}

footer{
    padding: 20px 2%;
    width: 100%;
    background-color: #303841;
    border-top: 1px solid white;
    text-align: center;
}

footer p{
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    float: left;
    width: 50%;
}




/*Inicio das configurações de responsividade*/



@media screen and (max-width:1200px){
  
  .projeto0{
    width: calc(50% - 50px);
    margin: 30px 25px;
  }
}

@media screen and (max-width:900px){
    .container-img{
        width: 100%;
    }

    .projeto0 p, .projeto0 span{
        font-size: 22px;
    }

    div.sessao-autor{
        max-width: 500px;
        width: 100%;
        margin: 60px auto 0 auto;
    }

    .sessao-autor .img-autor{
        max-width: 370px;
        width: 100%;
        height: 450px;
        float: none;
        margin: 0 auto;
    }

    .sessao-autor .sobre-autor{
        margin: 40px auto 20px auto;
        width: 100%;
        padding-left: 30px;
    }

    .sobre-autor h2{
        text-align: center;
    }

}

@media screen and (max-width:700px){

    .projeto0{
        max-width: 650px;
        width: 100%;
        margin: 30px 0;
    }

    .projeto0 .container-img{
        max-height: 500px;
        height: 100%;
        width: 100%;
        max-width: none;
    }

    .projeto0 p, .projeto0 span{
        font-size: 25px;
    }

    .titulo-contato h1{
        font-size: 45px;
    }

    .titulo-contato h2{
        font-size: 22px;
    }

    .contato .redes-sociais{
        float: left;
        width: calc(50% - 30px);
        margin: 100px 15px 20px 15px;
        text-align: center;
    }
}



@media screen and (max-width:600px){
    .projeto0 .container-img{
        height: 100%;
    }

    .redes-sociais{
        width: 50%;
        margin: 50px 0;
        text-align: center;
    }

    .redes-sociais:nth-of-type(5){
        float: left;
        margin: 50px 0;
    }

    .tipos-projetos button{
        font-size: 16px;
    }

    div.container-projetos{
        margin: 0;
    }

    .sessao-autor .sobre-autor{
        margin: 25px auto;
        float: none;
        padding: 0 2%;
    }
}

@media screen and (max-width:500px){
    .tipos-projetos button{
        font-size: 12px;
    }
}

/***************/