body {
    background-color: #b54cdf;
    font: normal 1.4em verdana, sans-serif;
    overflow-x: hidden;
}

main {
    margin-top: 100px;
}

main h1 {
    font-size: 1.7em;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

section.conteudo{
    width: 490px;
    margin: auto;
    padding: 30px 2%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

section.conteudo div{
    padding: 20px 15px;
}

input {
    padding: 5px;
    font-size: 0.8em;
    margin: 5px 0;
}

div#res {
    margin: 0;
    font-size: 1em;
}

footer {
    font-size: 0.85em;
    margin-top: 30px;
    font-style: italic;
    color: white;
    text-align: center;
}

.numero-anterior {
    float: right;
    min-width: 35px;
    height: 34px;
    margin-top: 5px;
    padding: 3px 1.5%;
    background-color: #6b6b6b;
    color: white;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 3px;
    text-align: center;
    cursor: context-menu;
}

#fim {
    margin-left: 19px;
}

#pulo{
    margin-left: 10px;
}

.container {
    margin: 0;
    text-align: center;
}

.botao {
    width: 130px;
    padding: 8px;
    background-color: #474747c2;
    border-radius: 6px;
    border: 1px solid #00000050;
    cursor: pointer;
    box-shadow: 3px 3px 15px #4747475e;
    color: white;
    margin-top: 25px;
}

#explosao {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: none;
}

#fechar {
    width: 30px;
    padding: 3px 0;
    background-color: rgba(255, 0, 0, 0.767);
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 9;
}

#explosao>video {
    width: 100%;
    height: calc(100% + 145px);
    position: relative;
    top: -140px;
}

#reiniciar {
    display: none;
    margin: auto;
}