:root{
    --cor01: #fc056c;
    --cor02: #a31e6c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
}

.flex{
    display: flex;
    align-items: center;
}

header{
    padding: 20px 0;
}

div.logo{
    margin: 0;
}

div.logo a{
    padding: 0;
}

.header{
    position: static;
    background-image: linear-gradient(135deg, var(--cor01), var(--cor02), var(--cor01));
}

.seta-projeto{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.sessao01{
    padding: 40px 0;
}

.txt-apresentacao{
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.txt-apresentacao h1{
    color: white;
    font: 45px "open sans", sans-serif;
}

.txt-apresentacao p{
    color: white;
    font-size: 16px;
    margin: 10px 0;
}

.txt-apresentacao button{
    margin-top: 20px;
    width: 160px;
    padding: 10px 0;
    color: white;
    background-color: transparent;
    border: 1px solid #ffffffb6;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 6px 6px 16px #910c4a91;
}

.txt-apresentacao button:hover{
    background-color: #d70c6a;
    box-shadow: 6px 6px 16px #910c4afa;
}

.img-apresentacao{
    float: right;
}

.img-apresentacao img{
    height: 350px;
}

div.cabecalho-sessao02 h1{
    text-align: center;
    font: normal 42px "open sans";
    margin-top: 50px;
}

.border{
    max-width: 75px;
    border-bottom: 3px solid rgb(226, 58, 58);
    border-radius: 5px;
    margin: 10px auto;
}

div.cabecalho-sessao02 p{
    font-size: 14px;
    text-align: center;
}

div.funcoes{
    margin-top: 70px;
}

.funcoes h2{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px;
}

.funcoes p{
    font-size: 15px;
}

.funcao{
    padding: 20px 10px;
}

.funcao img{
    height: 110px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 22.5px 0;
}

div.funcao:nth-of-type(1) img{
    height: 160px;
    margin: 0;
}