:root{
    --cor01: #fc056c;
    --cor02: #a31e6c;
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
}

.flex{
    display: flex;
    align-items: center;
}

header{
    padding: 20px 0;
}

div.logo{
    margin: 0;
}

div.logo a{
    padding: 0;
}

.header{
    position: static;
    background-image: linear-gradient(135deg, var(--cor01), var(--cor02), var(--cor01));
}

.seta-projeto{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.sessao01{
    padding: 40px 0;
}

.txt-apresentacao{
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.txt-apresentacao h1{
    color: white;
    font: 45px "open sans", sans-serif;
}

.txt-apresentacao p{
    color: white;
    font-size: 16px;
    margin: 10px 0;
}

.txt-apresentacao button{
    margin-top: 20px;
    width: 160px;
    padding: 10px 0;
    color: white;
    background-color: transparent;
    border: 1px solid #ffffffb6;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 6px 6px 16px #910c4a91;
}

.txt-apresentacao button:hover{
    background-color: #d70c6a;
    box-shadow: 6px 6px 16px #910c4afa;
}

.img-apresentacao{
    float: right;
}

.img-apresentacao img{
    height: 350px;
}

div.cabecalho-sessao02 h1{
    text-align: center;
    font: normal 42px "open sans";
    margin-top: 50px;
}

.border{
    max-width: 75px;
    border-bottom: 3px solid rgb(226, 58, 58);
    border-radius: 5px;
    margin: 10px auto;
}

div.cabecalho-sessao02 p{
    font-size: 14px;
    text-align: center;
}

div.funcoes{
    margin-top: 70px;
}

.funcoes h2{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px;
}

.funcoes p{
    font-size: 15px;
}

.funcao{
    padding: 20px 10px;
}

.funcao img{
    height: 110px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 22.5px 0;
}

div.funcao:nth-of-type(1) img{
    height: 160px;
    margin: 0;
}

section.sessao03{
    margin: 100px auto;
}

.sessao03 div.img-sessao03{
    margin-right: 100px;
}

.img-sessao03 img{
    height: 350px;
}

.sessao03 div.txt-sessao03{
    padding: 10px;
}

.txt-sessao03 h1{
    font-size: 40px;
    font-weight: lighter;
}

.txt-sessao03 p{
    font-size: 13px;
    margin-top: 20px;
}

.txt-sessao03 button{
    margin: 20px 15px 0 0;
    padding: 8px 30px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.txt-sessao03 button > .button01-span01{
    font-size: 11px;
    position: relative;
    left: -35px;
}

.txt-sessao03 button > .button02-span01{
    font-size: 11px;
    position: relative;
    left: -32px;
}

.txt-sessao03 button > .span02{
    font-size: 16px;
    position: relative;
    left: -20px;
}

section.sessao04{
    margin-bottom: 100px;
}

.txt-cabecalho{
    text-align: center;
    margin-bottom: 50px;
}

.txt-cabecalho h1{
    font: normal 42px "open sans";
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33px;
    max-width: 900px;
    margin: 0 auto;
}

.equipe{
    width: 200px;
    border-radius: 8px;
    color: white;
    background-image: linear-gradient(90deg, var(--cor01), #cb0a7b, var(--cor01));
}

.equipe img{
    border-radius: 8px 8px 0 0;
}

.descricao-equipe{
    padding: 10px 20px 15px 20px;
}

.descricao-equipe h2{
    text-align: center;
    font-size: 18px;
    color: white;
}

.descricao-equipe p{
    text-align: center;
    font-size: 12px;
    color: white;
}

footer{
    padding: 40px 2%;
    width: 100%;
    background-image: linear-gradient(135deg, #e43252, #c91c73, #d92a5d);
}

footer p{
    color: white;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    float: left;
    width: 50%;
}