body{
    background-color: rgb(76, 152, 223);
    font: normal normal 1.3em verdana, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    max-width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

div{
    padding: 10px 15px;
}

div#res{
    text-align: center;
}

footer{
    font-style: italic;
    color: white;
    text-align: center;
}