:root{
    --cor01: #e90e65;
    --border-radius01: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

.container{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

body{
    height: 100%;
}

header{
    background-image: url("/landingpages/landingpage02/image/banner-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
}

.backg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
    height: 100%;
}

header nav{
    padding: 42px 0;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header ul li a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

li:nth-of-type(1) a{
    color: var(--cor01);
}

ul li a:hover{
    color: var(--cor01);
}

header div.mensagem{
    position: relative;
    top: 0;
    left: 0;
}

div.mensagem div.ctn-mensagem{
    position: absolute;
    top: 165px;
}

div.mensagem h2{
    color: white;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    line-height: 65px;
}

div.mensagem button{
    margin-top: 80px;
    height: 50px;
    width: 200px;
    background-color: transparent;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 15px 4px #00000040;
}

div.mensagem button:hover{
    border: 1px solid var(--cor01);
    box-shadow: 10px 10px 20px 4px #00000096;
    transition: 0.2s;

}

section.imagens{
    position: relative;
    top: 0;
    left: 0;
}

section.imagens img{
    max-height: 420px;
    height: 100%;
    width: 50%;
    float: left;
}

div.criador{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
    width: 100%;
    height: 420px;
}

div.info-criador{
    max-width: 900px;
    width: 100%;
    height: 400px;
    border-radius: var(--border-radius01);
    background-color: white;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
}

div.img-criador{
    border-radius: var(--border-radius01) 0 0 var(--border-radius01);
    background-image: url(../image/girl3.jpg);
    height: 400px;
    width: 50%;
    float: left;
}

div.img-criador > div.backg-criador{
    border-radius: var(--border-radius01) 0 0 var(--border-radius01);
    background-image: linear-gradient(to bottom, #00000021, #0000009e);
    width: 100%;
    height: 100%;
    max-height: 400px;
}


/*color: #3d383a*/

div.text-criador{
    padding: 45px 20px 20px 40px;
    width: 50%;
    float: left;
    max-height: 400px;
    height: 100%;
}

.text-criador h1{
    font-size: 30px;
    color: #3d383a;
    margin-bottom: 10px;
}

.text-criador h2{
    font-size: 18px;
    font-weight: lighter;
    color: #978b91;
}

.text-criador .border{
    width: 50px;
    height: 5px;
    background-color: var(--cor01);
    margin: 15px 0;
}

.text-criador p{
    color: #3d383a;
    font-size: 16px;
    line-height: 23px;
}

.text-criador button{
    margin-top: 35px;
    padding: 13px 55px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--cor01);

}







section.sec02{
    background-color: var(--cor01);
    height: 1000px;
}